<?xml version="1.0"?>
<!--
/**
 * Module configurations
 *
 * @category     SoftwareAgil
 * @package      SoftwareAgil_StarkenPro
 * @author       SoftwareAgil (info@softwareagil.com)
 * @copyright    Copyright (c) 2020 SoftwareAgil (www.softwareagil.com)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="SoftwareAgil_StarkenPro" setup_version="1.0.22"></module>
		<sequence>
			<module name="Magento_Sales"/>
            <module name="Magento_Backend"/>
            <module name="Magento_Quote"/>
			<module name="Magento_Customer"/>
            <module name="Magento_Checkout"/>
		</sequence>
        <uninstall>
            <schema_resource setup_version="1.0.22" />
        </uninstall>
</config>
